*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-image: url('bg-blanco.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul {
    display: flex;
    justify-content: center;
}
ul li {
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

li span {
    display: block;
    font-size: 6rem;
    color: #f41b4b;
}
li.separator {
    margin: 0 10px;
    font-size: 6rem;
    line-height: 1;
    color: #f41b4b;
}

li:first-of-type {
    margin-right: 5rem;
}